* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: ubuntuRegular;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: ubuntuBold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: ubuntuMedium;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}
body {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#hidden {
  visibility: hidden;
}
.inner-container {
  border-radius: 10px;
  position: relative;
  display: flex;
  column-gap: 12%;
  background-color: hsl(0, 0%, 100%);
  width: 58vw;
  height: 500px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
}
.side-bar-container {
  height: 100%;
  padding: 40px;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  border-radius: 10px;
}

.step-container {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}
.step-number {
  font-family: ubuntuRegular;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 0.5px solid rgb(255, 255, 255);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
form {
  width: 100%;
}
.step {
  text-transform: uppercase;
}
.about {
  color: hsl(0, 0%, 100%);
  font-family: ubuntuBold;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.plan-details {
  row-gap: 1%;
}
.name-error,
.email-error,
.phone-error {
  font-family: ubuntuRegular;
  font-size: 0.8rem;
  color: hsl(354, 84%, 57%);
}

.input-container {
  display: none;
  padding: 20px;
  margin-top: 24px;
  width: 54%;
}
.heading {
  color: hsl(213, 96%, 18%);
  font-family: ubuntuBold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.info {
  font-family: ubutuRegular;
  font-size: 0.9rem;
  color: #949292;
  margin-bottom: 30px;
}
label {
  color: hsl(213, 96%, 18%);
  font-family: ubutuRegular;
  font-size: 0.8rem;
}
.input {
  padding: 10px;
  width: 100%;
  height: 35px;
  border: 0.1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  border-color: hsl(240, 33%, 87%);

  &:hover {
    border-color: hsl(243, 100%, 62%);
  }
}
.input:focus {
  border-color: hsl(243, 100%, 62%);
  outline: none;
}

.align-btn {
  margin-right: 0;
}
.size {
  width: 49%;
}
.next-btn {
  color: white;
  font-family: ubuntuBold;
  width: 90px;
  height: 35px;
  background-color: hsl(213, 96%, 18%);
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: hsl(213, 100%, 35%);
  }
}
input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
}
.plan-types input:checked + label {
  border-color: hsl(243, 100%, 62%);
}

.plan {
  border: 1px solid hsl(240, 33%, 87%);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
  border-radius: 10px;

  &:hover {
    border: 1px solid hsl(243, 100%, 62%);
    background-color: hsl(217, 100%, 97%);
  }
}
.toggle-button {
  background-color: hsl(213, 96%, 18%);
  width: 40px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.slider {
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin: 5px;
}
.slider-on-right {
  margin-left: 21px;
}

label:hover {
  border-color: hsl(243, 100%, 62%);
}

.plans input[type="radio"] {
  display: none;
}
.plans input:checked + label {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
}
.confirm-btn {
  background-color: hsl(243, 100%, 62%);
}

.thank-you-container {
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  text-align: center;
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

.add-ons-options-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#online-service {
  color: hsl(243, 100%, 62%);
}
.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 63px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid hsl(240, 33%, 87%);
  &:hover {
    border: 1px solid hsl(243, 100%, 62%);
  }
}
.add-on-text,
.step,
.add-on-added,
.total,
.thank-you-container p {
  color: #949292;
  font-size: 0.8rem;
  font-family: ubuntuRegular;
}
.service-container label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
.add-on-name {
  margin-bottom: 5px;
  font-family: ubuntuBold;
}
input[type="checkbox"] {
  width: 18px;
  height: 19px;
  accent-color: hsl(243, 100%, 62%);
}
.plan-types {
  display: flex;
  column-gap: 2%;
  margin-bottom: 20px;
}
.plan-name {
  font-size: 0.8rem;
  font-family: ubuntuBold;
  margin-bottom: 5px;
  color: hsl(213, 96%, 18%);
}
.active-type {
  color: #949292 !important;
}
.plan-cost,
.back-btn {
  font-size: 0.7rem;
  font-family: ubuntuMedium;
  color: #949292;
}
.back-btn {
  border: none;
  background-color: hsl(0, 0%, 100%);
}
.plan-cost {
  margin-bottom: 5px;
}
.back-btn:hover,
.thank-you-container h1 {
  color: hsl(213, 96%, 18%);
  font-family: ubuntuMedium;
}
.free-months {
  font-family: unbuntuRegular;
}
.plan img {
  width: 50px;
  height: 30px;
  margin-bottom: 45%;
}
.add-on-cost {
  color: hsl(243, 100%, 62%);
  font-family: ubuntuRegular;
}
.toggle-container {
  display: flex;
  font-size: 0.7rem;
  background-color: hsl(217, 100%, 97%);
  width: 100%;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  font-family: ubuntuMedium;
  color: hsl(213, 96%, 18%);
}
/* Switch Left Right
==========================*/
.toggle {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 14px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 30px;
}

.toggle:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 1px;
  transition: all 400ms;
  border-radius: 2px solid hsl(213, 96%, 18%);
}
input,
button,
label,
.back-btn {
  cursor: pointer;
}

.checkbox:checked + .toggle::after {
  left: 19px;
}

.checkbox:checked + .toggle {
  background-color: hsl(213, 96%, 18%);
}

.checkbox {
  display: none;
}
.border-active {
  border-color: hsl(243, 100%, 62%) !important;
  background-color: hsl(217, 100%, 97%);
}
.selected-plan-addon-container {
  align-items: center;
}
.flex-arrange {
  display: flex;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  font-size: ubuntuRegular;
  align-items: center;
}
.selected-plan-cost,
.selected-plan :nth-child(1) {
  color: hsl(213, 96%, 18%);
  font-family: ubuntuBold;
  font-size: 0.8rem;
}
.summary-container {
  border-radius: 5px;
  padding: 15px;
  background-color: hsl(217, 100%, 97%);
}
.selected-plan-addon-container,
hr,
.add-on-added {
  margin-bottom: 10px;
}
hr {
  border-color: #efefef36;
}
.selected-plan :nth-child(2) {
  font-family: ubuntuRegular;
  color: #949292;
  font-size: 0.8rem;
  text-decoration: underline;
  &:hover {
    color: hsl(243, 100%, 62%);
    cursor: pointer;
  }
}
.cost {
  color: hsl(213, 96%, 18%);
  font-family: ubuntuRegular;
  font-size: 0.7rem;
}

.total {
  padding: 15px;
}

.sum {
  font-size: 1rem;
  color: hsl(243, 100%, 62%);
  padding: 15px;
  font-family: "ubuntuBold";
}

.alignment {
  display: flex;
  flex-direction: column;
  row-gap: 114px;
}
.back-next-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
}

.active-step {
  background-color: hsl(206, 94%, 87%);
  border: none;
  color: black;
}
.active-div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1300px) {
  .size {
    width: 48%;
  }
  .inner-container {
    column-gap: 10%;
  }
}
@media (max-width: 1100px) {
  .thankyou-width {
    width: 58vw !important;
  }
  .info {
    font-size: 0.7rem;
  }
  .size {
    width: 46%;
  }
  .inner-container {
    column-gap: 9%;
  }
  .plan-name {
    font-size: 0.7rem;
  }
}
@media (max-width: 1000px) {
  .inner-container {
    width: 100%;
  }
  .inner-container {
    column-gap: 7%;
  }
  .size {
    width: 44%;
  }
}
@media (max-width: 600px) {
  .size {
    width: 100%;
  }
  .inner-container {
    background-color: hsl(217, 100%, 97%);
    flex-direction: column;
    height: auto !important;
    box-shadow: none;
    padding: 0px;
  }
  .step-number {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.85rem;
  }
  .main-container {
    background-color: (217, 100%, 97%);
  }
  .side-bar-container {
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    border-radius: 0px;
  }
  body {
    height: 400px;
    background-color: hsl(217, 100%, 97%);
    width: auto;
    align-items: flex-start;
  }
  .step-container div:nth-child(2n) {
    display: none;
  }

  .input-container {
    align-self: center;
    background-color: hsl(0, 0%, 100%);
    margin-top: -37px;
    width: 95% !important;
    border-radius: 10px;
    padding: 15px 15px 0 15px;
  }
  .plan-types {
    flex-direction: column;
    row-gap: 9px;
  }
  .plan img {
    width: 50px;
    height: 50px;
  }
  .plan-name {
    font-size: 0.9rem;
  }
  .plan {
    border: 1px solid hsl(240, 33%, 87%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
  }
  .plan-cost {
    font-size: 0.9rem;
  }
  .plan img {
    margin-bottom: 0px;
  }
  .add-ons-options-container .service-container:nth-child(3n) {
    margin-bottom: 10px;
  }
  .next-btn {
    height: 40px;
    font-size: 0.9rem;
    font-family: ubuntuBold;
  }
  .back-next-btn-container {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    height: 60px;
    left: 0px;
    padding: 10px;
  }
  .info {
    font-size: 1rem;
    margin-bottom: 25px;
  }
  .thank-you-container p {
    margin-bottom: 50px;
    width: 58vw !important;
  }
  .input {
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding: 10px;
    height: 42px;
    font-family: ubuntu;
  }
  input[type="checkbox"] {
    width: 21px;
  }
  .thank-you-container img {
    margin-top: 30px;
    width: 50px;
    height: 50px;
  }
  .free-months {
    font-size: 1rem !important;
  }
  .toggle-container {
    margin-bottom: 20px;
    font-size: 1rem;
    height: 46px;
  }
  .back-btn {
    font-size: 0.8rem;
  }
  .service-container {
    height: 68px;
  }
  .add-on-text {
    font-size: 0.8rem;
  }
}
